---
import { renderRichText, storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
const renderAbout = renderRichText(blok.about);
---

<section
  {...storyblokEditable(blok)}
  class="border-b border-black py-8 flex justify-between items-center w-[96%] mx-auto"
>
  <div class="space-y-4 w-[60%]">
    <h3 class="text-5xl font-medium m-0">{blok.headline}</h3>
    <h2 class="text-5xl font-medium m-0">{blok.name}</h2>
    <p class="m-0">{blok.title}</p>
    <div set:html={renderAbout} class="about" />
    <a class="ctaprimary mt-2" href={blok.resume.url} target={blok.resume.target}
      >checkout my resume</a
    >
  </div>

  <div class="w-[40%]">
    <img src="../../assets/images/dp.png" alt="" />
  </div>
</section>

<style>
  .about :global(a) {
    text-decoration: underline;
    font-weight: 500;
  }
</style>
